.header-container {
    text-align: center;
    background: #4E342E; /* สีน้ำตาลเข้ม */
    color: white;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.ingredientitem-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.ingredient-group {
    padding: 15px;
}